h3 {
  text-align: center;
}
.bg-orange {
  background: rgb(255, 102, 0);
  box-shadow: 0px 5px 10px grey;
  margin-bottom: 5px;
}
nav a img {
  padding: 5px;
  background: white;
}
nav.container {
  padding: 0px;
}
nav li.active {
  background: rgb(255, 69, 0);
  text-decoration: underline;
}
nav li:hover {
  background: rgb(255, 69, 0);
}
nav li{
  margin-right: 15px;
}
nav li a {
  color: white !important;
  padding: 1.2rem 1.5rem !important;
}

